h1 {
  text-align: center;
  background-color: white;
}

body {
  background-image: url("./assets/fondo2.jpg"); /* Ajusta la ruta de la imagen */
  background-size: cover; /* La imagen cubre todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  min-height: 100vh; /* Asegura que cubra todo el alto de la pantalla */
  margin: 0; /* Elimina márgenes del body */
  padding: 0; /* Elimina padding del body */
  font-family: Arial, sans-serif; /* Opcional: Cambia la fuente global */
}
